// 기본 스타일 -------------------------------------------------------------------- /
// 루트 요소의 기본 글자 크기 및 가로 스크바 제거 ----------------------------------------------- /
html {
  font-size: $rootUnit;
  overflow-y: visible;
}

// 기본 박스 사이징 설정 -------------------------------------------------------------- /
body,
body::before,
body::after,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

// 기본 여백 제거 ------------------------------------------------------------------ /
[class] {
  margin: 0;
}

// 본문 기본 폰트, 글자 크기, 굵기, 배경 색상 지정 --------------------------------------------- /
body {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-size: inherit;
  background-color: $white;

  &.no-scroll {
    overflow: hidden;
  }
}

// 제목 글자 크기 및 굵기 재지정 --------------------------------------------------------- /
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: inherit;
}

// 목록 안쪽 여백 및 불릿 제거 ---------------------------------------------------------- /
ul,
ol {
  padding-left: 0;
  list-style: none;
}

// 이미지에 발생하는 갭 제거 ------------------------------------------------------------ /
img {
  vertical-align: middle;
}

// 링크 요소의 밑줄 및 글자 색상 재 정의 ---------------------------------------------------- /
a {
  color: inherit;
  text-decoration: none;
}

// 주소 및 강조 요소 스타일 재 정의 ------------------------------------------------------- /
address,
em {
  font-style: normal;
}

// 버튼 마우스 스타일 설정 ------------------------------------------------------------- /
button {
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color: transparent;
}

// pc 에서만 보이는 요소 설정
.pc-only {
  @include mobile {
    display: none !important;
  }
}
