// Initial ( 기본 색상 ) --------------------------------------------------------- /
$white: #fff;
$black: #000;
$gray: #666;

// Primary ( 주요 색상 ) --------------------------------------------------------- /
$primaryYellow: #fede22; // 서류제출하기 버튼 색
$primaryYellow2: #ffe92f; //
$primaryYellow3: #ffe200; // 이벤트 100명, 1만원 색
$primaryGreen: #317c61;

// Secondary ( 보조 색상 ) ------------------------------------------------------- /
$secondaryLightBlue: #005a96; // 해시태그 색
$secondaryLightBlue2: #526baa; // 상품안내 하단 버튼
$secondaryLightBlue3: #3e4459; // 상품안내 대출 배경색

// Grayscale & Backgrounds ( 흑백 색상 ) ----------------------------------------- /
$grayscaleWhite: #ffffff; // 상품안내 배경회색
$grayscaleWhite2: #e5e5e5; //종료된 이벤트 글자 색
$grayscaleGray: #f7f7f7; // 상품안내 배경 흰
$grayscaleGray2: #6e6e6e; // 이벤트 날짜 색
$grayscaleGray3: #c0c0c0; // 상품안내 대출 고객센터 운영 색
$grayscaleGray4: #f4f4f4; // 상품안내 리스트 박스 내부 색
